<main class="container">
    <!-- row 1 / heading for entire section -->
    <section class="row">
      <h1>Portfolio</h1>
      <br>
      <h5>Click the images below for my latest work:</h5>
      <hr>
    </section>
    <!-- row 2 -->
    <section class="row">
      <section class="col-md-6">
        <!-- The Repo Man/ link-->
        <h3>Repository Refactor</h3>
        <a href="https://tylergilbert913.github.io/The-Repo-Man/">
          <img src="repoman.png" class="img-fluid" alt="">
        </a>
      </section>
      <!-- feed me project -->
      <section class="col-md-6">
        <h3>Feed Me Project</h3>
        <a href="https://a-andres1.github.io/feed-me-tm/">
          <img src="feedme.png" class="img-fluid" alt="Coming soon">
        </a>
      </section>
    </section>
    <!-- row 2 -->
    <section class="row gene">
      <!-- password generator-->
      <section class="col-md-6">
        <h3>Password Generator</h3>
        <a href="https://tylergilbert913.github.io/A-Generation-of-Passwords/">
          <img src="generator.png" class="img-fluid" alt="Coming soon">
        </a>
      </section>
  </main>