<div class="jumbotron">
  <h1>Welcome to HomeGrown!</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron">
  <img src="images/homegrown.png" alt="HomeGrown-Logo" width="150" height="300">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3>We here at HomeGrown are on a mission to provide our plant lovers with vital information about their
    plants, which will keep them as healthy as possible. Thank you for accompanying us on our journery to giving back to the plants that bring us so much joy. 
  </h3>
</div>