<div class="row greenhouse">
  <div class="col-auto">
    <h2>Welcome to the Greenhouse, {{name}}!</h2>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<main class="container">
  <!-- row 1 / heading for entire section -->
  <section class="row greenhouse">
    <h1>Your Greenhouse</h1>
    <hr>
  </section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group">
          </ul>
        </div>
      </div>


</main>